<header><%- include("hadder.ejs")%></header>

<div class="card text-center">
    <div class="card-body">
        <!-- <h3 class="card-title text-primary">Habit Tracker App</h3> -->
        <div id="title-name" class=" card-title text-primary">
            <span style="font-size:2.5rem; color: red;">H</span>
            <span style="font-size:2.5rem; color: yellow;">a</span>
            <span style="font-size:2.5rem; color: green;">b</span>
            <span style="font-size:2.5rem; color: pink;">i</span>
            <span style="font-size:2.5rem; color: purple; margin-right: 1.1rem;">t</span>
            <span style="font-size:2.5rem; color: orange;">T</span>
            <span style="font-size:2.5rem; color: limegreen;">r</span>
            <span style="font-size:2.5rem; color: red;">a</span>
            <span style="font-size:2.5rem; color: mediumorchid;">c</span>
            <span style="font-size:2.5rem; color: red;">k</span>
            <span style="font-size:2.5rem; color: magenta;">e</span>
            <span style="font-size:2.5rem; color: red; margin-right: 1.1rem;">r</span>
            <span style="font-size:2.5rem; color: indigo;">A</span>
            <span style="font-size:2.5rem; color: yellow;">p</span>
            <span style="font-size:2.5rem; color: red;">p</span>
        </div>
        <a href="/habit/dashboard" class="btn btn-lg btn-outline-primary">Open Dashboard</a>
    </div>
</div>